.btn {
    padding: 15px 10px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;

    &--green {
        background-color: #04c35c;

        &:hover {
            background-color: lighten(#04c35c, 5%);
        }
    }

    &--google {
        background-color: #2d3748;

        &:hover {
            background-color: lighten(#2d3748, 5%);
        }
    }

    &--facebook {
        background-color: #4267b2;

        &:hover {
            background-color: lighten(#4267b2, 5%);
        }
    }

    &--logout {
        background-color: $background-color;

        &:hover {
            background-color: lighten($background-color, 10%);
        }
    }

    &.btn-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        // padding-top: 6px;
        // padding-bottom: 6px;
    }

    &__fa {
        margin-right: 5px;
    }

    &__img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
}
