.navbar {
    background-color: $navbar-color;
    position: fixed;
    width: 100%;
    padding: 5px 10px;
    top: 0;
}

.navbar__container {
    display: flex;
    align-items: center;

    &__logo {
        flex: 1;

        &__h2 {
            font-family: "Sen", sans-serif;
            color: #fff;
        }
    }
}
