.loading-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 251, 251, 0.377);
    z-index: 999;
}
